# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [81]:
black_friday = pd.read_csv("black_friday.csv")

In [58]:
black_friday.shape

(537577, 12)

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
#Resposta questão 01
black_friday.shape

(537577, 12)

In [25]:
#Resposta questão 02
df_woman = black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')]
df_woman.shape[0]

49348

In [31]:
#Resposta questão 03
black_friday['User_ID'].nunique()

5891

In [37]:
#Resposta questão 04
black_friday.dtypes.nunique()

3

In [66]:
#Resposta questão 05
null_values = black_friday.isna()
null_values = null_values[(null_values['Product_Category_2'] == True) | (null_values['Product_Category_3'] == True)]
tx_null = null_values.shape[0]/black_friday.shape[0]
tx_null

0.6944102891306734

In [67]:
#Resposta questão 06
null_values = black_friday.isna().sum().max()
null_values

373299

In [87]:
#Resposta questão 07
df_mode = black_friday.dropna(subset=['Product_Category_3'])
df_mode['Product_Category_3'].mode()[0]

16.0

In [80]:
#Respostas questão 08
xmax = black_friday['Purchase'].max()
xmin = black_friday['Purchase'].min()
f = lambda x : (x - xmin)/(xmax-xmin)
black_friday['Purchase'] = black_friday['Purchase'].apply(f)
black_friday.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,0.384794
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,0.209498
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,0.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,0.238938
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,0.331300
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,0.500000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,1.000000

In [85]:
#Resposta questão 09
mi = black_friday['Purchase'].mean()
std = black_friday['Purchase'].std()
z = lambda x : (x - mi)/std
black_friday['Purchase'] = black_friday['Purchase'].apply(z)
range_q9 = black_friday[(black_friday['Purchase'] >= -1) & (black_friday['Purchase'] <= 1)].shape[0]
range_q9

348631

In [100]:
#Resposta questão 10
compare_pc = black_friday[black_friday['Product_Category_2'].isna()]
compare_pc['Product_Category_2'].equals(compare_pc['Product_Category_3'])

True

## Questão 1
#
## Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [6]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    df_woman = black_friday[(black_friday['Gender'] == 'F') & (black_friday['Age'] == '26-35')]
    return df_woman.shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [32]:
def q3():
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    # Retorne aqui o resultado da questão 6.
    null_values = black_friday.isna()
    null_values = null_values[(null_values['Product_Category_2'] == True) | (null_values['Product_Category_3'] == True)]
    tx_null = null_values.shape[0]/black_friday.shape[0]
    return tx_null

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return black_friday.isna().sum().max()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].mode()[0]

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    xmax = black_friday['Purchase'].max()
    xmin = black_friday['Purchase'].min()
    f = lambda x : (x - xmin)/(xmax-xmin)
    black_friday['Purchase'] = black_friday['Purchase'].apply(f)
    return black_friday['Purchase'].mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    mi = black_friday['Purchase'].mean()
    std = black_friday['Purchase'].std()
    z = lambda x : (x - mi)/std
    black_friday['Purchase'] = black_friday['Purchase'].apply(z)
    range_q9 = black_friday[(black_friday['Purchase'] >= -1) & (black_friday['Purchase'] <= 1)].shape[0]
    return range_q9

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    compare_pc = black_friday[black_friday['Product_Category_2'].isna()]
    return compare_pc['Product_Category_2'].equals(compare_pc['Product_Category_3'])